.products {
  min-height: auto;
  padding-bottom: 7rem;
}

.products h2 {
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}

.products img {
  width: 100%;
  object-fit: cover;
  height: 280px;
}

.products .list-products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  width: 80%;
  margin: 0 auto;
}

.products .list-products a {
  position: relative;
}

.products .list-products .product-card {
  height: 100%;
  box-shadow: 0 2px 3px 1px var(--main-color);
}

.product-card .product-content {
  margin: 8px 0;
}

.product-card .product-content p {
  font-size: 14px;
  color: var(--text-color);
  margin: 0 16px;
}
.product-card .product-content p:first-child {
  font-size: 16px;
  font-weight: 600;
  color: var(--main-color);
}

@media (max-width: 834px) {
  .products .list-products {
    grid-template-columns: 1fr;
  }
  .products img {
    height: 100%;
  }
}

@media (max-width: 428px) {
  .products .list-products {
    width: 90%;
  }
  .product-card .product-content p {
    font-size: 12x;
  }
  .product-card .product-content p:first-child {
    font-size: 14px;
  }
}
